<!-- intern row -->
<div class="row d-flex justify-content-center py-4 border-top" id="intern">

    <div class="card mx-3" style="width: 18rem;">
        <div class="card-header text-center bg-warning">
            <h4>Name Placeholder</h4>
            <h5><i class="fas fa-user-graduate"></i><span>&nbsp;</span>Intern</h5>
        </div>
        <div class="card-body">
            <div>
                <ul class="list-group list-group-flush border">
                    <li class="list-group-item">ID:<span>&nbsp;</span>placeholder</li>
                    <li class="list-group-item">Email:<span>&nbsp;</span><a href="#" class="card-link">placeholder</a>
                    </li>
                    <li class="list-group-item">School:<span>&nbsp;</span>placeholder</li>
                </ul>
            </div>
        </div>
    </div>

</div>